*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --yellow: #f9ca24;
    --bgcolor: #222;
    --darkcolor: #000;
    --primary: #f9ca24;
    --dark: #292929;
    --color: #fff;
    --btn: #f9ca24;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark);
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/* hero start */

.hero{
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero__container{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero__title{
    max-width: 600px;
    font-size: 90px;
    word-spacing: 4px;
    letter-spacing: 4px;
    color: var(--primary);
    margin-bottom: 30px;
}

.portfolio{
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
}

.portfolio:hover{
    text-shadow: -3px -3px 6px var(--yellow);
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--yellow);
    color: var(--darkcolor);
    border: none;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}

.btn:hover{
    background-color: transparent;
    color: var(--yellow);
    box-shadow: 2px 2px 5px var(--yellow);
}

.btn:hover i{
    rotate: 360deg;
    transition: 0.7s;
}

.btn:active{
    box-shadow: -3px -3px 6px var(--yellow);
}

/* hero start */