* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --yellow: #f9ca24;
  --bgcolor: #222;
  --darkcolor: #000;
  --gray: #575757;
  --dark: #292929;
  --color: #fff;
  --btn: #f9ca24;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark);
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
} */

::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gold;
}



/* test start */

.test{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--yellow);
}

.test__text{
    display: inline-block;
    margin-right: 50px;
}

/* test end */



/* scroll start */

.scroll-top{
    width: 85px;
    height: 85px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    border: 5px dashed var(--yellow);
    color: var(--yellow);
    background-color: transparent;
    border-radius: 50%;
    text-decoration: none;
}

.scroll-top__img{
    width: 100%;
    display: flex;
    border-radius: 50%;
}

/* scroll end */



/* mobile start */

.mobile {
    min-width: 100wv;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--dark);
    padding-top: 35px;
    padding-bottom: 35px;
}

.mobile__container {
    display: flex;
    align-items: flex-start;
}

.mobile__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: grid;
    list-style: none;
}

.mobile__item {
    display: inline-block;
}

.mobile__link {
    display: inline-block;
    font-size: 30px;
    color: var(--yellow);
    text-decoration: none;
    transition: 0.4s;
}

.mobile__link:hover .mobile__link__icon{
    rotate: 360deg;
}

.mobile__link::after{
    position: relative;
    top: 3px;
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--dark);
    transition: 0.4s;
}

.mobile__link:hover::after{
    width: 100%;
    background-color: var(--yellow);
}

.mobile__link__icon {
    transition: 1s;
}

.close__menu {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    cursor: pointer;
    margin-left: auto;
}

.close{
    font-size: 30px;
    background-color: transparent;
    color: var(--yellow);
}

/* mobile end */



/* nav start */

.nav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav__logo-wrap {
    display: inline-block;
    margin-right: auto;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.nav__logo:hover .nav__img-box{
    rotate: 360deg;
}

.nav__logo:hover .nav__title{
    text-shadow: -3px -3px 6px var(--yellow);
}

.nav__img-box {
    width: 70px;
    display: flex;
    transition: 0.6s;
}

.nav__img {
    width: 100%;
    display: flex;
}

.nav__title {
    font-weight: 700;
    font-size: 30px;
    color: var(--yellow);
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    display: inline-block;
    font-weight: 600;
    font-size: 19px;
    color: var(--yellow);
    text-decoration: none;
    white-space: nowrap;
}

.nav__link__icon{
    transition: 1s;
}

.nav__link:hover .nav__link__icon{
    rotate: 360deg;
}

.nav__link::after{
    position: relative;
    top: 3px;
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--dark);
    transition: 0.4s;
}

.nav__link:hover::after{
    width: 100%;
    background-color: var(--yellow);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    display: none;
}

.menu:hover div{
    box-shadow: 3px 3px 6px var(--yellow);
}

.menu:active div{
    box-shadow: -3px -3px 6px var(--yellow);
}

.burger-top {
    width: 30px;
    height: 2px;
    background-color: var(--yellow);
    transition: 0.4s;
}

.burger-mid {
    width: 30px;
    height: 2px;
    background-color: var(--yellow);
    transition: 0.4s;
}

.burger-bot {
    width: 30px;
    height: 2px;
    background-color: var(--yellow);
    transition: 0.4s;
}

/* nav end */



/* hero start */

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero__container{
    display: flex;
    align-items: center;
}

.hero__title{
    max-width: 600px;
    font-size: 90px;
    word-spacing: 4px;
    letter-spacing: 4px;
    color: var(--yellow);
    margin-bottom: 30px;
}

.main-title{
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none; color: var(--yellow);
}

.main-title:hover{
    text-shadow: -3px -3px 6px var(--yellow);
}

/* hero start */



/* web start */

.web{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.web__container{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    text-align: center;
}

.web__title{
    display: inline-block;
    font-size: 50px;
    color: var(--yellow);
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.web__title:hover{
    text-shadow: -3px -3px 6px var(--yellow);
}

.card__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    transition: 0.4s;
    margin-bottom: 50px;
}

.card__link{
    width: 100%;
    max-width: 370px;
    padding: 20px;
    display: inline-block;
    border: 3px solid var(--yellow);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
}

.card__link:hover{
    transition: 0.4s;
    box-shadow: 3px 3px 6px var(--yellow);
}

.card__link:hover .card__title{
    transition: 0.4s;
    text-shadow: 3px 3px 6px var(--color);
}

.card__link:hover .card__content{
    transition: 0.4s;
    text-shadow: 3px 3px 6px var(--gray);
}

.card__link:active{
    transition: 0.4s;
    box-shadow: -3px -3px 6px var(--yellow);
}

.card__link:active .card__title{
    transition: 0.4s;
    text-shadow: -3px -3px 6px var(--color);
}

.card__link:active .card__content{
    transition: 0.4s;
    text-shadow: -3px -3px 6px var(--gray);
}

.card{
    width: 100%;
    height: 100%;
    max-width: 370px;
    max-height: 430px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    display: grid;
    transition: 0.4s;
}

.card__img-box{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card__text-box{
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    color: var(--color);
    margin-left: auto;
    margin-right: auto;
}

.card__title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__content{
    font-weight: 600;
    font-size: 13px;
    color: var(--gray);
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--darkcolor);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}

.btn:hover{
  background-color: transparent;
  color: var(--yellow);
  box-shadow: 2px 2px 5px var(--yellow);
}

.btn:hover i{
  rotate: 360deg;
  transition: 0.7s;
}

.btn:active{
  box-shadow: -3px -3px 6px var(--yellow);
}

/* web end */



/* about start */

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.about__container {
    display: grid;
}

.title-wrap{
    text-align: center;
    margin-bottom: 50px;
}

.about-me {
    display: inline-block;
    font-size: 50px;
    color: var(--yellow);
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
}

.about-me:hover{
    text-shadow: -3px -3px 6px var(--yellow);
}

.about__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.about__img-box {
    width: 100%;
    max-width: 450px;
    display: flex;
    background-color: transparent;
    border: none;
}

.about__img {
    width: 100%;
    display: flex;
}

.about__text-box {
    width: 100%;
    max-width: 450px;
    display: inline-block;
    text-align: right;
}

.about__title {
    font-size: 40px;
    color: var(--yellow);
    margin-bottom: 10px;
}

.about__text {
    font-size: 20px;
    color: var(--yellow);
    margin-bottom: 10px;
}

/* about end */



/* edu start */

.edu{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.edu__container{
    text-align: center;
}

.edu__title-wrap{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.edu__title{
    display: inline-block;
    font-size: 50px;
    color: var(--yellow);
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
}

.edu__title:hover{
    text-shadow: -3px -3px 6px var(--yellow);
}

.foundation__title{
    display: inline-block;
    font-size: 30px;
    color: var(--yellow);
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
    margin-bottom: 20px;
}

.foundation__title:hover{
    text-shadow: -3px -3px 6px var(--yellow);
}

.foundation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.front-end__title{
    display: inline-block;
    font-size: 30px;
    color: var(--yellow);
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
    margin-bottom: 20px;
}

.front-end__title:hover{
    text-shadow: -3px -3px 6px var(--yellow);
}

.front-end{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.edu__card {
    width: 100%;
    max-width: 350px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--yellow);
    border-right: 5px solid transparent;
    transition: 0.4s;
}

.edu__card:hover{
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid var(--yellow);
    border-left: 5px solid transparent;
    transition: 0.4s;
}

.edu__card__text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: grid;
}

.edu__card__text-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: grid;
    text-align: center;
}

.edu__card__title {
    color: var(--yellow);
}

.edu__card__object {
    color: var(--color);
}

.edu__card__time {
    color: var(--color);
}

.edu__card__addres {
    color: var(--color);
}

/* edu end */



/* contact start */

.contact {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.contact__container {
    display: grid;
}

.contact__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.title-wrap{
    text-align: center;
    margin-bottom: 50px;
}

.contact__title{
    display: inline-block;
    font-size: 40px;
    color: var(--yellow);
    margin-bottom: 10px;
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
}

.contact__title:hover{
    text-shadow: -3px -3px 6px var(--yellow);
    transition: 0.4s;
    user-select: none;
}

.links {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: var(--bgcolor);
    border-radius: 20px;
    transition: 0.4s;
    border: 1px solid var(--yellow);
}

.links:hover{
    box-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
}

.links:active{
    box-shadow: -3px -3px 6px var(--yellow);
    transition: 0.4s;
}

.contact__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: grid;
    list-style: none;
}

.contact__item {
    display: inline-block;
}

.link__title {
    display: inline-block;
    color: var(--yellow);
    text-shadow: 2px 2px 5px var(--yellow);
    transition: 0.4s;
    margin-bottom: 5px;
}

.link__title:hover{
    text-shadow: -2px -2px 5px var(--yellow);
}

.link__icon{
    transition: 1s;
}

.link__title:hover .link__icon{
    rotate: 360deg;
}

.contact__link {
    display: inline-block;
    color: var(--yellow);
    text-decoration: none;
}

.contact__form {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: var(--bgcolor);
    border-radius: 20px;
    transition: 0.4s;
    border: 1px solid var(--yellow);
}

.contact__form:hover{
    box-shadow: 3px 3px 6px var(--yellow);
}

.contact__form:active{
    box-shadow: -3px -3px 6px var(--yellow);
}

.contact__inp {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    transition: 0.4s;
    margin-bottom: 20px;
}

.contact__inp::placeholder{
    color: var(--yellow);
    opacity: 0.6;
}

.contact__inp:focus{
    outline: none;
    box-shadow: 2px 2px 5px var(--yellow);
}

.contact__inp:hover{
    box-shadow: 2px 2px 5px var(--yellow);
}

.contact__inp:active{
    box-shadow: -2px -2px 5px var(--yellow);
}

.contact__message {
    height: 125px;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    transition: 0.4s;
    resize: none;
    margin-bottom: 20px;
}

.contact__message::placeholder{
    color: var(--yellow);
    opacity: 0.6;
}

.contact__message:focus{
    outline: none;
    box-shadow: 2px 2px 5px var(--yellow);
}

.contact__message:hover{
    box-shadow: 2px 2px 5px var(--yellow);
}

.contact__message:active{
    box-shadow: -2px -2px 5px var(--yellow);
}

/* contact end */



/* footer start */

.footer{
    display: flex;
    align-items: center;
}

/* footer end */



/* @media start */

@media (max-width: 375px){

    .contact__btn{
        display: block;
        letter-spacing: 3px;
        word-spacing: 5px;
    }

}

@media (max-width: 460px){

    .hero__title{
        font-size: 60px;
    }

    .card{
        display: grid;
    }

    .web__title{
        font-size: 45px;
    }

}

@media (max-width: 1000px){

    .nav__list{
        display: none;
    }

    .menu{
        display: flex;
    }

}

/* @media end */