*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --yellow: #f9ca24;
    --bgcolor: #222;
    --darkcolor: #000;
    --primary: #f9ca24;
    --gray: #575757;
    --dark: #292929;
    --color: #fff;
    --btn: #f9ca24;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--bgcolor);
    padding: 30px;
}

.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
} */
 
::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gold;
}

/* web start */

.web{
    padding-top: 50px;
    padding-bottom: 50px;
}

.web__container{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    text-align: center;
}

.web__title{
    display: inline-block;
    font-size: 50px;
    color: var(--primary);
    text-shadow: 3px 3px 6px var(--yellow);
    transition: 0.4s;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.web__title:hover{
    text-shadow: -3px -3px 6px var(--yellow);
}

.card__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.card__link{
    width: 100%;
    max-width: 370px;
    padding: 20px;
    display: inline-block;
    border: 3px solid var(--yellow);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.card__img-box{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
}

.card__img{
    width: 100%;
}

.card__text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    color: var(--color);
}

.card__title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__content{
    font-weight: 600;
    font-size: 13px;
    color: var(--gray);
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--yellow);
    color: var(--darkcolor);
    border: none;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}


/* hover start */

.card__link:hover{
    transition: 0.4s;
    box-shadow: 3px 3px 6px var(--yellow);
}

.card__link:hover .card__title{
    transition: 0.4s;
    text-shadow: 3px 3px 6px var(--color);
}

.card__link:hover .card__content{
    transition: 0.4s;
    text-shadow: 3px 3px 6px var(--gray);
}

.btn:hover{
    background-color: transparent;
    color: var(--yellow);
    text-shadow: 3px 3px 6px var(--yellow);
    box-shadow: 2px 2px 5px var(--yellow);
}

.btn:hover i{
    rotate: 360deg;
    transition: 0.7s;
}

/* hover end */


/* active start */

.card__link:active{
    transition: 0.4s;
    box-shadow: -3px -3px 6px var(--yellow);
}

.card__link:active .card__title{
    transition: 0.4s;
    text-shadow: -3px -3px 6px var(--color);
}

.card__link:active .card__content{
    transition: 0.4s;
    text-shadow: -3px -3px 6px var(--gray);
}

.btn:active{
    box-shadow: -3px -3px 6px var(--yellow);
    text-shadow: -3px -3px 6px var(--yellow);
}

/* active end */


/* web end */



/* @media start */

@media (max-width: 460px){

    .card{
        display: grid;
    }

    .web__title{
        font-size: 45px;
    }

}

/* @media end */